<% provide(:title, "About | Ruby on Rails Tutorial Sample App") %>

  <h1 class="text-5xl mb-10 text-gray-400">About</h1>
  
  <div class="prose max-w-full mx-auto">
    <p class="text-lg">
      Read about Ruby on Rails Tutorial at the
      <a href="https://www.railstutorial.org/about" class="text-blue-600 hover:underline">
        Rails About page
      </a>.
      To read about this sample app, see the
      <a href="https://www.railstutorial.org/book" class="text-blue-600 hover:underline">
        <em>Ruby on Rails Tutorial</em> book
      </a>.
    </p>
  </div>