<% provide(:title, "Home | Ruby on Rails Tutorial Sample App") %>

<h1 class="text-5xl mb-10 text-gray-400">Sample App</h1>
<p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

